<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>SFProText-Light.ttf</string>
		<string>SFProText-Bold.ttf</string>
	</array>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>LightIconApp</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>LightIconApp</string>
                </array>
                <key>UIUserInterfaceStyle</key>
                <string>light</string>
            </dict>
            <key>DarkIconApp</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>DarkIconApp</string>
                </array>
                <key>UIUserInterfaceStyle</key>
                <string>dark</string>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
